.blue {
  background-color: #eef;
}

.red {
  background-color: #fee;
}

.blue a {
  display: block;
  font-weight: bold;
}

.red a {
  display: block;
  font-weight: bold;
}

.options-header {
  background-color: rgb(150, 150, 150);
}

.options-item {
  background-color: rgb(200, 200, 200);
}

.clickable {
  cursor: pointer;
}
