#TacoPlacements {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

#liftingPlacements {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}